body {
background-color: transparent;
font-family: 'Fredoka', sans-serif;
margin: 0;
  padding: 0;

}



h1, h2{
  color: grey;
}


h1.main_letters{
  padding: 0%;
  font-size: 10vw;
  color: transparent;
  line-height: 1;
  display: flex;
  padding-bottom: 0.2vw;
  overflow:hidden;
  text-shadow:  0 0 30px rgb(165, 10, 165);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcadff;
  font-weight: bold;
  animation: glow 1s ease-in-out infinite alternate;
}



h1.main_letters div{
  display: inline-block;
}

h1.main_letters div::before{
  position: absolute;
  top: 0;
  left: 0;
  content:attr(data-char);
  transform: translateY(-103%);
}



p{
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.pageCont{
  background-color: rgb(48, 48, 48);
  padding: 50px;
}

h1.other_letters{
  padding: 0%;
  font-size: 7vw;
  color: transparent;
  line-height: 1;
  display: flex;
  padding-top: 0vw;
  padding-bottom: 0.6vw;
  overflow:hidden;
  text-shadow:  0 0 30px rgb(9, 102, 131);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00ffff;
  font-weight: lighter;
}

.about {
  background-color: rgb(48, 48, 48);
}

.homeButton {
  background-color: transparent;
}

.home {
  background-color: black;
}

.app {
  background-color: transparent;
}

img.v_m{
  position:static;
  width: 100%;
}

.v_m div{
  overflow: hidden;
}
