p.card-text {
  color:black;
}
p.card-text {
  color:black;
}


.ldiv {
  position:absolute;

}

#conta {
  position:fixed;
  width:100%;
  height:100%;
  overflow:hidden;
}

#scrollDist {
  top: 100%;
  width:100%;
  height:400%;
}


body{
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(48, 48, 48);
}

.intro{
  background-image: linear-gradient(to bottom, #000000, rgb(48, 48, 48))
}

body {
    font-family: 'Fredoka', sans-serif;
}

h1, h2{
  color: grey;
}


p{
    color: white;
    font-family: 'Quicksand', sans-serif;
}


h1.main_letters{
  font-size: 10vw;
  color: transparent;
  line-height: 1;
  display: flex;
  padding-bottom: 1vw;
  overflow: hidden;
  text-shadow:  0 0 30px rgb(165, 10, 165);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcadff;
  font-weight: bold;
}


h1.main_letters div{
  display: inline-block;
}

h1.main_letters div::before{
  position: absolute;
  top: 0;
  left: 0;
  content:attr(data-char);
  transform: translateY(-103%);
}


h1.other_letters{
  padding: 0%;
  font-size: 7vw;
  color: transparent;
  line-height: 1;
  display: flex;
  padding-bottom: 0.6vw;
  overflow:hidden;
  text-shadow:  0 0 30px rgb(11, 120, 153);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00ffff;
  font-weight: lighter;
  -webkit-animation: buzz 0.01s infinite alternate;
          animation: buzz 0.01s infinite alternate;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
          transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: opacity;
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

.about {
    width: 100%;
    background-color: rgb(48, 48, 48);
}



img.v_m{
    transform: scaleX(-1);
  position:static;
  width: 100%;
}

.homeButton a {
  height: 50px;
  width: 50px;
  background: #000;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 2px
}


.homeButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000
}


.contact{
    width: 100%;
    background-color: black;
}


h1.contactUs {
  font-family: 'Fredoka', sans-serif;
  font-weight: lighter;
  font-size: 5vw;
  color: transparent;
  text-shadow: 0 0 30px #2695ff;
  -webkit-animation: buzz 0.01s infinite alternate;
          animation: buzz 0.01s infinite alternate;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d4eaff;
}


a.contactUs {
  color: transparent;
  outline-style: groove;
  outline-color: #fa97ff;
  text-shadow: 0 0 10px #f700ff;
  -webkit-text-stroke-color: #fa97ff;
  -webkit-text-stroke-width: 1px;
}

p.contacts{
  color: #00ccff;
  -webkit-text-stroke-color: #d4eaff;
  -webkit-text-stroke-width: 0.5px;
}

.philosophy{
  font-size: 6vw;
}


.shimmer {
  color: rgba(49, 24, 0, 0.445);
  background: -webkit-gradient(linear, left top, right top, from(rgb(49, 24, 0)), to(rgb(49, 24, 0)), color-stop(0.5, rgb(216, 158, 0)));
  background: -moz-gradient(linear, left top, right top, from(rgb(49, 24, 0)), to(rgb(49, 24, 0)), color-stop(0.5, rgb(216, 158, 0)));
  background: gradient(linear, left top, right top, from(rgb(49, 24, 0)), to(rgb(49, 24, 0)), color-stop(0.5, rgb(255, 187, 0)));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
  -webkit-animation-direction: alternate;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

#cyber {
  animation-delay: 1s;
}

#renaissance {
  animation-delay: 2s;
}

.card-title {
  color: white;
}

.card.our-team {
  background-color: transparent;
  outline-style: groove;
  outline-color: #fa97ff;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  
}

h1#our_services {
  font-size: 4vw;
  background-repeat: repeat
}

.aboutext{
  background-image: linear-gradient(to top, #000000, rgb(48, 48, 48))
}

.pageCont {
  padding-bottom: 150px;
}

.portfolioBtn {
  background-color: transparent;
}

@media (max-width:799px) {
  h1#our_services{
    font-size: 13vw;
  }
  
}